<header class="public-header">
  <div class="logo-container">
    <div class="logo-logo"><img src="assets/logo.png" alt="Sabor Mayor Logo" width="48" height="48" /></div>
    <div class="logo">Sabor Mayor</div>
  </div>

  <div class="header-actions">
    <nav class="main-nav">
      <ul>
        <li><a href="#">Carta</a></li>
        <li><a href="#">Experiencias</a></li>
        <li><a href="#">Historia</a></li>
      </ul>
    </nav>

    <div class="header-buttons">
      <button class="btn-outline">Pedido</button>
      <button class="btn-solid">Reservar</button>
    </div>
  </div>
</header>
